{% extends '../base.html' %}
{% load static %}
{% block content %}

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet" />




<div class="row h-25">
    <h1 class="col-xl-6 d-flex justify-content-around align-items-center ">fitbit sleep data</h1>
    <p class="col-xl-6 d-flex justify-content-around align-items-center p-5">
        taking you from scrath.py to the data future
    </p>
</div>




<div class="row h-25">
<p class="text-justify align-items-center p-5">
  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
  totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
  dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
  sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam
  est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius
  modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
  quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
  Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
   vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
</p>
</div>


<div class="row h-25"></div>


{% endblock %}
