{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="ct-chart"></div>

<script>

  var label_series = {{label_series|safe}};
  var value_series = {{value_series}};

  new Chartist.Line('.ct-chart', {
    labels: label_series,
    series: [value_series,]
  }, { fullWidth: true, xaxis: {horizontal: true} } );

</script>



<div class="row h-auto text-center"><h1 class="col">abel</h1></div>


<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript">
$(function() {
  var count = 0;
  $('#myform').submit(function(event) {
    event.preventDefault();
    $.ajax({
        type: 'POST', url: '/myajaxformview',
        dataType: 'json',
        data: $('#myform').serialize(),
        success: function (data, textStatus) {
            count += 1;
            $('#output2').html("");
            $('#output2').append(count + " - You sent a ajax form post. Here's the data from server" + JSON.stringify(data)); // append to inner html
            $('#output2').append("<div id="+count+">hello</div>");
        },
        error: function(xhr, status, e) {
            alert(status, e);
        }
    });
  });
});
</script>

<br />

<form id="myform" method="post" action="/rango/login/">{% csrf_token %}
  <input type="text" name="field1" value="" size="50" />
  <input type="submit" value="AJAX submit" /></input>
</form>

<div id="output2"></div>

<hr />


<div class="row h-25 justify-content-center">
  {% for tech in technologies %}
    <div class="col-sm-1 p-2">
      <img src="{% static tech %}" />
    </div>
  {% endfor %}
</div>



{% endblock %}
