{% extends 'base.html' %}
{% load static %}
{% block content %}

<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<link href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" rel="stylesheet" />



<div class="h-auto text-center">

    <h1 class="">hello</h1>

    <br/>

    <p class="">i'm abel,<br/><br/>i like builing software with a focus on data</p>

    <p class="">write me an email here if you want: <a href="mailto:hello@paperstar.studio">hello@paperstar.studio</a></p>

    <br/>

    <div>{{ fig|safe }}</div>

</div>


{% endblock %}
