{% extends '../base.html' %}
{% load static %}
{% block content %}
{% load plotly_dash %}


<div class="row h-auto text-center">
    <h1 class="col">
      abel
    </h1>
</div>

<div class="row mx-auto">
    <div class="col-sm-12">
      my personal dashboard
  </div>
</div>

{% plotly_app name="correlations" ratio=1 %}

<div class="row mx-auto">
    <div class="col-sm-12">
      {{ fig|safe }}
  </div>
</div>



<div class="row mx-auto">
    <div class="col-sm-12">
      {{ df|safe }}
  </div>
</div>




<div style="height:1500px;"></div>


<div class="row h-25 justify-content-center">
  {% for tech in technologies %}
    <div class="col-sm-1 p-2"><img src="{% static tech %}" /></div>
  {% endfor %}
</div>

{% endblock %}
